* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: iransansweb;
  direction: rtl;
}

.main-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: iransansweb;
  direction: rtl;

  margin-right: 30px;
  /* background-color: rgb(252, 254, 250); */
}

/* body {
  margin: 100px;
  background-color: rgb(252, 254, 250);
} */
/* ---------------------------------------------------------- */
.container--1 {
  /* margin: 100px; */
  /* width: 795px; */
  /* background-color: rgb(252, 254, 250); */

  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 50px;
  justify-content: space-between;

  margin-bottom: 50px;
}

.profile-image {
  /* width: 350px; */
}
.profile-image img {
  width: 200px;
  margin-right: 40px;
}

.name {
  /* width: 450px; */
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
  justify-content: center;
  /* align-items: center; */
}

h1 {
  /* font-size: 48px; */
  font-size: 38px;
  line-height: 47px;
  font-weight: 700;
  font-style: normal;
  color: rgb(16, 55, 93);

  margin-bottom: 15px;

  /* margin-right: 70px; */
}

.job-title {
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: rgb(16, 55, 93);
  margin-bottom: 30px;
}

.h-line--1 {
  width: 100px;
  margin-bottom: 40px;
  background-color: rgb(16, 55, 93);
  color: rgb(16, 55, 93);
  height: 1px;
}

.education {
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  color: rgb(16, 55, 93);

  /* margin-right: 70px; */
}
.description {
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  color: rgb(16, 55, 93);
}

/* --------------------------------------------------------------- */
.container--2 {
  /* margin: 100px; */
  /* width: 795px; */
  background-color: rgb(61, 99, 141);
  height: 50px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;

  margin-bottom: 50px;
}

.phone-icon,
.email-icon,
.extention-icon {
  width: 20px;
  /* color: white; */
}

.phone-number,
.email-address,
.extention-number,
.email p,
.phone p,
.extention p {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: rgb(252, 254, 250);
}

.phone-number,
.email-address,
.extention-number {
  margin-right: 20px;
}

.email,
.phone,
.extention {
  margin-left: 20px;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
/* -------------------------------------------------- */

.container--3 {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 2fr 3fr;
  margin-bottom: 50px;
}

.orgunit {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.orgunit h3,
.jobhistory h3 {
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  color: rgb(16, 55, 93);
}

.orgunit p,
.jobhistory li {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: rgb(16, 55, 93);

  margin-right: 40px;
}

.hr--2 {
  margin-bottom: 50px;
  color: black;
}

/* ---------------------------------- */

.container--4 {
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  color: rgb(16, 55, 93);
}

.container--4 li {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: rgb(16, 55, 93);

  margin-right: 40px;
}

ul {
  list-style: none;
}

li {
  line-height: 35px;
}

.h-line--2 {
  width: 100%;
  background-color: rgb(16, 55, 93);
  height: 1px;
}
